.Navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid grey;
    .container{
        height: 100%;
        max-width: 960px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: auto;
    }
    .right-side{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .logout{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}